body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    margin-top: 50px;
}

p {
    color: #666;
}

.menu {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    color: white;
    text-align: left;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #555;
}

.menu nav {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.menu nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu nav ul li {
    padding: 10px;
}

.menu nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu nav ul li a:hover {
    background-color: #555;
}